@charset "UTF-8";
@font-face {
  font-family: "sitka1";
  src: url("../content/fonts/sitka-small-599.ttf");
}
body {
  position: relative;
  z-index: -2;
}

.logo {
  width: 131.97px;
  height: 30.08px;
}

body {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-family: "Calibri Light";
  background-color: #1e1f22;
  width: 100%;
}
@font-face {
  font-family: "sitka1";
  src: url("../content/fonts/sitka-small-599.ttf");
}
body body {
  position: relative;
  z-index: -2;
}
body header nav {
  background-color: #0d243f;
  padding-top: 8px;
  padding-bottom: 4px;
  color: white;
  display: flex;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.5) 0 4px 8px 0;
}
body header nav .nav_main__div {
  margin: 0 10vw 0 10vw;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  flex-flow: wrap;
}
@media (max-width: 780px) {
  body header nav .nav_main__div {
    margin: 0 0 0 0;
  }
}
@media (max-width: 780px) {
  body header nav .nav_main__div {
    justify-content: space-around;
  }
}
@media (max-width: 780px) {
  body header nav .nav_main__div .logo_div {
    order: 1;
    position: relative;
    padding: 0 0 8px 0;
  }
}
body header nav .nav_main__div .menu__block {
  display: inline-block;
  user-select: none;
  flex-wrap: nowrap;
  width: fit-content;
}
@media (max-width: 780px) {
  body header nav .nav_main__div .menu__block {
    order: 0;
  }
}
body header nav .nav_main__div .menu__block ul {
  display: flex;
  padding-left: 0;
}
@media (max-width: 780px) {
  body header nav .nav_main__div .menu__block ul {
    display: none;
  }
}
body header nav .nav_main__div .menu__block ul li {
  display: inline-block;
  font-size: 1.58vh;
}
body header nav .nav_main__div .menu__block ul li a {
  text-transform: uppercase;
  color: white;
  top: 0;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  padding: 24px 16px 20px 16px;
}
@media (max-width: 780px) {
  body header nav .nav_main__div .menu__block ul li a {
    background-color: transparent;
  }
}
@media (min-width: 781px) {
  body header nav .nav_main__div .menu__block ul li:hover a {
    text-decoration: none;
    background-color: #00344f;
    position: relative;
    top: 10px;
    padding-top: 34px;
    color: #00ecff;
    border-bottom: solid 1px #00ecff;
    transition: 0.3s ease-in-out;
  }
}
@media (min-width: 781px) {
  body header nav .nav_main__div .menu__block ul li:not(:hover) a {
    position: relative;
    top: 0;
    padding-top: 24px;
    transition: 0.3s ease-in-out;
  }
}
body header nav .nav_main__div .menu__block ul .here {
  border-bottom: 1px solid palegoldenrod;
}
@media (min-width: 781px) {
  body header nav .nav_main__div .menu__block .hamburger-menu {
    display: none;
  }
}
@media (max-width: 780px) {
  body header nav .nav_main__div .menu__block {
    /* скрываем чекбокс */
    /* стилизуем кнопку */
    /* добавляем "гамбургер" */
    /* контейнер меню */
    /* элементы меню */
  }
  body header nav .nav_main__div .menu__block .hamburger-menu {
    display: flex;
    flex-direction: row;
  }
  body header nav .nav_main__div .menu__block #menu__toggle {
    opacity: 0;
    width: 0;
    height: 0;
  }
  body header nav .nav_main__div .menu__block .menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center; /* центрируем содержимое кнопки */
    position: relative;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 3;
  }
  body header nav .nav_main__div .menu__block .menu__btn > span,
  body header nav .nav_main__div .menu__block .menu__btn > span::before,
  body header nav .nav_main__div .menu__block .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: white;
  }
  body header nav .nav_main__div .menu__block .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  body header nav .nav_main__div .menu__block .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  body header nav .nav_main__div .menu__block .menu__box {
    display: flex;
    flex-direction: column;
    position: absolute;
    visibility: hidden;
    top: -300px;
    left: 0;
    width: 100%;
    text-align: center;
    height: 140px;
    margin: 0;
    list-style: none;
    background-color: #0b1f36;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
  body header nav .nav_main__div .menu__block .menu__item {
    display: block;
    padding: 12px 24px;
    color: white;
    font-size: 20px;
    text-decoration: none;
  }
  body header nav .nav_main__div .menu__block #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
    transition: 0.5s ease-in-out;
  }
  body header nav .nav_main__div .menu__block #menu__toggle:not(:checked) ~ .menu__btn > span {
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
  }
  body header nav .nav_main__div .menu__block #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
    transition: 0.5s ease-in-out;
  }
  body header nav .nav_main__div .menu__block #menu__toggle:not(:checked) ~ .menu__btn > span::before {
    transform: rotate(0);
    transition: 0.5s ease-in-out;
  }
  body header nav .nav_main__div .menu__block #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    transition: 0.5s ease-in-out;
  }
  body header nav .nav_main__div .menu__block #menu__toggle:not(:checked) ~ .menu__btn > span::after {
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
  }
  body header nav .nav_main__div .menu__block #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
    top: 46px;
    transition: 0.3s ease-in-out;
  }
  body header nav .nav_main__div .menu__block #menu__toggle:not(:checked) ~ .menu__box {
    visibility: hidden;
    top: -300px;
    transition: 0.3s ease-in-out;
  }
}
@media (max-width: 780px) {
  body header nav .nav_main__div .input__div {
    order: 3;
  }
}
body header nav .nav_main__div .input__div form {
  display: flex;
  font-size: 1.58vh;
  position: relative;
  width: 15vw;
}
@media (max-width: 780px) {
  body header nav .nav_main__div .input__div form {
    order: 3;
  }
}
body header nav .nav_main__div .input__div form #searchResults {
  display: none;
  font-family: "Calibri Light";
  position: absolute;
  top: 110%;
  left: -50px;
  z-index: 2;
  background-color: #2a2a2a;
  max-height: 50vh;
  width: 30vw;
  overflow: hidden;
}
@media (max-width: 780px) {
  body header nav .nav_main__div .input__div form #searchResults {
    top: 120%;
    font-size: 2.58vh;
    width: 70vw;
    left: -50vw;
  }
}
body header nav .nav_main__div .input__div form #searchResults a {
  display: block;
  padding: 5px;
  color: #fdfdfd;
  text-decoration: none;
}
body header nav .nav_main__div .input__div form #searchResults a:hover {
  background-color: #383838;
}
body header nav .nav_main__div .input__div form .label__search {
  position: relative;
}
body header nav .nav_main__div .input__div form .label__search input {
  position: relative;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: solid 1px white;
  color: white;
  z-index: 1;
}
body header nav .nav_main__div .input__div form .label__search .popular_search_placeholder {
  position: absolute;
  top: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: "Calibri Light";
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 1080px) {
  body header nav .nav_main__div .input__div form .label__search .popular_search_placeholder {
    font-size: 1.33vh;
    top: 5px;
  }
}
body header nav .nav_main__div .input__div form .label__search input:hover, body header nav .nav_main__div .input__div form .label__search input:focus {
  background-color: rgba(11, 25, 54, 0.5);
  transition: 0.3s;
}
body header nav .nav_main__div .input__div form .label__search input:focus ~ .popular_search_placeholder, body header nav .nav_main__div .input__div form .label__search input:not(:invalid) ~ .popular_search_placeholder {
  top: -8px;
  color: transparent;
  transition: 0.5s;
}
@font-face {
  font-family: "sitka1";
  src: url("../content/fonts/sitka-small-599.ttf");
}
body body {
  position: relative;
  z-index: -2;
}
body .new_chords__div {
  padding: 10px 0 10px 0;
  margin-bottom: 30px;
  width: 100%;
}
@media (max-width: 780px) {
  body .new_chords__div {
    margin-bottom: 0;
  }
}
body .new_chords__div p {
  font-family: "Calibri Light";
  color: #fdfdfd;
  display: inline-block;
  margin: 10px 0 0 10vw;
  font-size: 3.5vh;
}
@media (max-width: 780px) {
  body .new_chords__div p {
    margin: 10px 3px 10px 3px;
  }
}
body .new_chords__div .new_chords__div__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 10vw 10px 10vw;
}
@media (max-width: 780px) {
  body .new_chords__div .new_chords__div__items {
    margin: 0 3px 0 3px;
  }
}
body .new_chords__div .new_chords__div__items a {
  flex-basis: calc(33% - 5vw);
  font-family: "Calibri Light";
  color: #fdfdfd;
  display: inline-block;
  margin: 4px 0 5px 0;
  padding: 4px 0 6px 5px;
  width: 10vw;
  border-left: solid 5px #3a4f67;
  border-right: solid 0px transparent;
  text-decoration: none;
  font-size: 2vh;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 1080px) {
  body .new_chords__div .new_chords__div__items a {
    flex-basis: calc(50% - 5vw);
  }
}
@media (max-width: 780px) {
  body .new_chords__div .new_chords__div__items a {
    flex-basis: 100%;
  }
}
body .new_chords__div .new_chords__div__items a:hover, body .new_chords__div .new_chords__div__items a:focus {
  color: palegoldenrod;
  background-color: #2b2b2c;
  border-left: solid 1px palegoldenrod;
  border-right: solid 4px transparent;
  box-shadow: none;
  transition: 0.2s;
}
body .perfomer__main__div {
  margin: 0 10vw 0 10vw;
}
@media (max-width: 780px) {
  body .perfomer__main__div {
    margin: 0 3px 0 3px;
  }
}
body .perfomer__main__div .header {
  display: flex;
}
body .perfomer__main__div .header .perfomer__img__div {
  display: inline-block;
}
body .perfomer__main__div .header .perfomer__img__div img {
  box-shadow: rgba(0, 0, 0, 0.5) 0 4px 8px -1px;
}
@media (max-width: 1080px) {
  body .perfomer__main__div .header .perfomer__img__div img {
    width: 30vw;
    height: 30vw;
  }
}
body .perfomer__main__div .header .perfomer_info {
  margin-left: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body .perfomer__main__div .header .perfomer_info .perfomer__name__div p, body .perfomer__main__div .header .perfomer_info .perfomer__name__div a {
  color: #fdfdfd;
  font-family: "Calibri Light";
  font-size: 3.5vh;
  margin: 0 0 0 0;
}
@media (max-width: 780px) {
  body .perfomer__main__div .header .perfomer_info .perfomer__name__div p, body .perfomer__main__div .header .perfomer_info .perfomer__name__div a {
    font-size: 2vh;
  }
}
body .perfomer__main__div .header .perfomer_info .perfomer__name__div a:hover {
  color: palegoldenrod;
}
body .perfomer__main__div .header .perfomer_info .stats {
  color: #fdfdfd;
}
body .perfomer__main__div .header .perfomer_info .stats p {
  margin: 0 0 0 0;
}
body .perfomer__main__div .main_part_chords {
  display: flex;
  margin-top: 40px;
}
@media (max-width: 1080px) {
  body .perfomer__main__div .main_part_chords {
    flex-direction: column;
  }
}
body .perfomer__main__div .main_part_chords .applicature__div {
  display: flex;
  width: 15vw;
  flex-direction: column;
}
@media (max-width: 1080px) {
  body .perfomer__main__div .main_part_chords .applicature__div {
    width: 100%;
  }
}
@media (max-width: 1080px) {
  body .perfomer__main__div .main_part_chords .applicature__div {
    order: 2;
  }
}
body .perfomer__main__div .main_part_chords .applicature__div .applicature__header p {
  color: #fdfdfd;
}
body .perfomer__main__div .main_part_chords .applicature__div .applicature_images {
  display: flex;
  flex-wrap: wrap;
}
body .perfomer__main__div .main_part_chords .applicature__div .applicature_images img {
  margin-right: 1vw;
  margin-bottom: 1vw;
  height: 5vw;
  width: 5vw;
  filter: invert(0.88);
}
@media (max-width: 1080px) {
  body .perfomer__main__div .main_part_chords .applicature__div .applicature_images img {
    height: 20vw;
    width: 20vw;
  }
}
body .perfomer__main__div .main_part_chords .chords {
  display: flex;
  flex-direction: column;
}
body .perfomer__main__div .main_part_chords .chords .control_buttons {
  color: #fdfdfd;
}
@media (max-width: 780px) {
  body .perfomer__main__div .main_part_chords .chords .control_buttons {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: transparent;
  }
  body .perfomer__main__div .main_part_chords .chords .control_buttons div {
    display: flex;
    justify-content: space-between;
  }
  body .perfomer__main__div .main_part_chords .chords .control_buttons div:first-child {
    margin-bottom: 5px;
  }
  body .perfomer__main__div .main_part_chords .chords .control_buttons div:nth-child(2) {
    margin: 5px 0;
  }
  body .perfomer__main__div .main_part_chords .chords .control_buttons div:last-child {
    margin-top: 5px;
  }
}
body .perfomer__main__div .main_part_chords .chords .control_buttons p {
  display: inline-block;
  margin: 0 8px 0 8px;
  font-size: 2vh;
}
body .perfomer__main__div .main_part_chords .chords .control_buttons button {
  height: 28px;
  width: 28px;
  border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
  outline: none;
  border: none;
  color: #fdfdfd;
  font-size: 2vh;
  box-shadow: rgba(0, 0, 0, 0.5) 0 4px 8px 0;
}
@media (max-width: 780px) {
  body .perfomer__main__div .main_part_chords .chords .control_buttons button {
    box-shadow: none;
  }
}
body .perfomer__main__div .main_part_chords .chords .control_buttons .btn__ton {
  background-color: #9d2121;
}
body .perfomer__main__div .main_part_chords .chords .control_buttons .btn__ton:hover, body .perfomer__main__div .main_part_chords .chords .control_buttons .btn__ton:focus {
  background-color: #851c1c;
  box-shadow: none;
  border: solid 1px palegoldenrod;
  transition: 0.2s ease-in-out;
}
body .perfomer__main__div .main_part_chords .chords .control_buttons .btn__scroll {
  background-color: #239a37;
}
body .perfomer__main__div .main_part_chords .chords .control_buttons .btn__scroll:hover, body .perfomer__main__div .main_part_chords .chords .control_buttons .btn__scroll:focus {
  background-color: #1d7a2e;
  box-shadow: none;
  border: solid 1px palegoldenrod;
  transition: 0.2s ease-in-out;
}
body .perfomer__main__div .main_part_chords .chords .control_buttons .btn__fontsize {
  background-color: #23629a;
}
body .perfomer__main__div .main_part_chords .chords .control_buttons .btn__fontsize:hover, body .perfomer__main__div .main_part_chords .chords .control_buttons .btn__fontsize:focus {
  background-color: #1c4e7a;
  box-shadow: none;
  border: solid 1px palegoldenrod;
  transition: 0.2s ease-in-out;
}
@media (max-width: 780px) {
  body .perfomer__main__div .main_part_chords .chords .control_buttons {
    display: none;
  }
}
body .perfomer__main__div .main_part_chords .chords pre {
  font-size: 2vh;
  color: #fdfdfd;
}
body .perfomer__main__div .main_part_chords .chords pre span {
  background-color: #3b3b3b;
  padding: 0 2px 0 2px;
  border-radius: 3px;
}
body footer {
  margin-top: 32px;
  padding: 8px 0 8px 0;
  background-color: #2a2a2a;
}
body footer .footer__div {
  text-align: center;
}
body footer .footer__div p {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  color: #fdfdfd;
  font-size: 2vh;
  font-family: "Sitka Banner";
}
@font-face {
  font-family: "sitka1";
  src: url("../content/fonts/sitka-small-599.ttf");
}
body body {
  position: relative;
  z-index: -2;
}
body #btnScrollToTop {
  padding: 18px 24px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px 4px;
  border-radius: 100% 100% 100% 100%;
  border: none;
  outline: none;
  background: url("../content/svg/btnscrolltop.svg") no-repeat center center;
  position: fixed;
  z-index: 5;
  bottom: -50px;
  right: 35px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, bottom 0.3s ease-in-out;
}
body #btnScrollToTop.show {
  bottom: 20px;
  opacity: 1;
}
body #btnScrollToTop:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px 2px;
  filter: invert(1);
  scale: 1.1;
  transition: 0.3s ease-in-out;
}

.control__side__menu__div {
  display: none;
}

@media (max-width: 780px) {
  .control__side__menu__div {
    display: flex;
    position: fixed;
    float: left;
    top: 50vh;
    right: 0;
  }
  .control__side__menu__div .slider__button {
    display: flex;
    align-items: center;
  }
  .control__side__menu__div .slider__button input {
    opacity: 0;
  }
  .control__side__menu__div .slider__button label {
    display: inline-block;
    position: relative;
    margin-right: 5vw;
  }
  .control__side__menu__div .slider__button label span {
    display: block;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
    font-size: 15vw;
    font-weight: 100;
  }
  .control__side__menu__div .slider__button .div_btns_anim {
    position: relative;
    right: 0;
  }
  .control__side__menu__div .slider__button input:checked ~ .div_btns_anim, .control__side__menu__div .slider__button input:checked ~ label {
    right: 0;
    transition: 0.2s ease-in-out;
  }
  .control__side__menu__div .slider__button input:checked ~ .div_btns_anim span, .control__side__menu__div .slider__button input:checked ~ label span {
    rotate: 180deg;
    transition: 0.2s ease-in-out;
    color: palegoldenrod;
  }
  .control__side__menu__div .slider__button input:not(:checked) ~ .div_btns_anim, .control__side__menu__div .slider__button input:not(:checked) ~ label {
    right: -22vh;
    transition: 0.2s ease-in-out;
  }
}
@media (max-width: 780px) and (min-height: 896px) {
  .control__side__menu__div .slider__button input:not(:checked) ~ .div_btns_anim, .control__side__menu__div .slider__button input:not(:checked) ~ label {
    right: -18.5vh;
  }
}
@media (max-width: 780px) and (min-height: 1200px) {
  .control__side__menu__div .slider__button input:not(:checked) ~ .div_btns_anim, .control__side__menu__div .slider__button input:not(:checked) ~ label {
    right: -16vh;
  }
}
@media (max-width: 780px) {
  .control__side__menu__div .slider__button input:not(:checked) ~ .div_btns_anim span, .control__side__menu__div .slider__button input:not(:checked) ~ label span {
    rotate: 0deg;
    transition: 0.2s ease-in-out;
  }
}
@media (max-width: 780px) {
  .control__side__menu__div .control_buttons {
    color: #fdfdfd;
  }
}
@media (max-width: 780px) and (max-width: 780px) {
  .control__side__menu__div .control_buttons {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: transparent;
  }
  .control__side__menu__div .control_buttons div {
    display: flex;
    justify-content: space-between;
  }
  .control__side__menu__div .control_buttons div:first-child {
    margin-bottom: 5px;
  }
  .control__side__menu__div .control_buttons div:nth-child(2) {
    margin: 5px 0;
  }
  .control__side__menu__div .control_buttons div:last-child {
    margin-top: 5px;
  }
}
@media (max-width: 780px) {
  .control__side__menu__div .control_buttons p {
    display: inline-block;
    margin: 0 8px 0 8px;
    font-size: 2vh;
  }
}
@media (max-width: 780px) {
  .control__side__menu__div .control_buttons button {
    height: 28px;
    width: 28px;
    border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
    outline: none;
    border: none;
    color: #fdfdfd;
    font-size: 2vh;
    box-shadow: rgba(0, 0, 0, 0.5) 0 4px 8px 0;
  }
}
@media (max-width: 780px) and (max-width: 780px) {
  .control__side__menu__div .control_buttons button {
    box-shadow: none;
  }
}
@media (max-width: 780px) {
  .control__side__menu__div .control_buttons .btn__ton {
    background-color: #9d2121;
  }
}
@media (max-width: 780px) {
  .control__side__menu__div .control_buttons .btn__ton:hover, .control__side__menu__div .control_buttons .btn__ton:focus {
    background-color: #851c1c;
    box-shadow: none;
    border: solid 1px palegoldenrod;
    transition: 0.2s ease-in-out;
  }
}
@media (max-width: 780px) {
  .control__side__menu__div .control_buttons .btn__scroll {
    background-color: #239a37;
  }
}
@media (max-width: 780px) {
  .control__side__menu__div .control_buttons .btn__scroll:hover, .control__side__menu__div .control_buttons .btn__scroll:focus {
    background-color: #1d7a2e;
    box-shadow: none;
    border: solid 1px palegoldenrod;
    transition: 0.2s ease-in-out;
  }
}
@media (max-width: 780px) {
  .control__side__menu__div .control_buttons .btn__fontsize {
    background-color: #23629a;
  }
}
@media (max-width: 780px) {
  .control__side__menu__div .control_buttons .btn__fontsize:hover, .control__side__menu__div .control_buttons .btn__fontsize:focus {
    background-color: #1c4e7a;
    box-shadow: none;
    border: solid 1px palegoldenrod;
    transition: 0.2s ease-in-out;
  }
}

/*# sourceMappingURL=chords.css.map */
