@import "constants";
body{
  position: relative;
  z-index: -2;
}
.logo{
  width: 131.97px;
  height: 30.08px;
}
@import "menu";
body{
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-family: "Bitter";
  background-color: $bgDivColor;
.about__us{
  display: flex;
  margin-left: 10vw;
  margin-right: 10vw;
  @media (max-width: 780px){
    margin: 0 20px 0 20px;
  }
  p{
    color: $fontColor;
    font-size: $fontSizeL;
    font-family: "Bitter";
    text-align: justify;
    .citate__span{
      background-color: #2d3034;
      font-style: italic;
      font-family: "Open Sans";
    }
  }
}
  @import "footer";
  @import "btnScrollToTop";
}