@import "constants";
body{
  position: relative;
  z-index: -2;
}
//кнопки управления
@mixin control__btns{
  .control_buttons{
    color:$fontColor;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    @media(max-width: 1080px){
      @media (min-width: 781px) {
        width: 70%;
      }
    }
    @media(max-width: 780px){
      display: flex;
      flex-direction: column;
      padding: 5px;
      backdrop-filter: blur(3px);
      background-color: rgba(19, 19, 19, 0.5);
      border-radius: 10px 0 0 10px;

      div{
        display: flex;
        justify-content: space-between;
      }
      div:first-child{
        margin-bottom: 5px;
      }
      div:nth-child(2){
        margin: 5px 0;
      }
      div:last-child{
        margin-top: 5px;
      }
    }
    p{
      display: inline-block;
      margin: 0 8px 0 8px;
      font-size: $fontSizeL;

    }
    button{
      transition: 0.2s ease-in-out;
      height: 28px;
      width: 28px;
      @media (min-width: 1900px) {
        height: 3vh;
        width: 3vh;
      }
      border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
      outline:none;
      border:none;
      color: $fontColor;
      box-shadow: $shadowColor 0 4px 8px 0;
      font-size: 20px;
      @media(max-width: 780px){
        border-radius: 6px 6px 6px 6px;
        box-shadow: none;
        font-size: calc(($fontSizeL + 1.5vw) * 1);
      }
    }
    .btn__ton{
      background-color: transparent;
      border: 2px solid #9d2121;
    }
    .btn__ton:hover, .btn__ton:focus{
      background-color: #9d2121;
      box-shadow: none;
      transition: 0.2s ease-in-out;
    }
    .btn__scroll{
      background-color: transparent ;
      border: 2px solid #239a37;
    }
    .btn__scroll:hover, .btn__scroll:focus{
      background-color: #239a37;
      box-shadow: none;
      transition: 0.2s ease-in-out;
    }
    .btn__fontsize{
      background-color: transparent;
      border: 2px solid #23629a;
    }
    .btn__fontsize:hover, .btn__fontsize:focus{
      background-color: #23629a;
      box-shadow: none;
      transition: 0.2s ease-in-out;
    }
  }
}

.logo{
  width: 131.97px;
  height: 30.08px;
}
body{
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-family: "Open Sans";
  background-color: $bgDivColor;
  width: 100%;

  @import "menu";
  @import "NewChordsDiv";

  //СТРАНИЦА ИСПОЛНИТЕЛЯ
  .perfomer__main__div{
    margin: 0 10vw 0 10vw;
    @media (max-width: 780px){
      margin: 0 3px 0 3px;
    }
    .header{
      display: flex;
      .perfomer__img__div{
        display: inline-block;

        img{
          box-shadow: $shadowColor 0 4px 8px -1px;
          width: 200px;
          height: 200px;
          @media(max-width: 1080px){
            width: 130px;
            height: 130px;
          }
        }
      }
      .perfomer_info {
        margin-left: 5vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .perfomer__name__div {
          p,a {
            color: $fontColor;
            font-family: "Open Sans";
            font-size: $fontSizeXL;
            margin: 0 0 0 0;
            @media (max-width: 780px) {
              font-size:$fontSizeL ;
            }
          }
          a:hover{
            color: palegoldenrod;
          }
        }
        .stats {
          color: $fontColor;
          p {
            margin: 0 0 0 0;
          }
        }
      }
    }
    .main_part_chords{
      display: flex;
      margin-top: 40px;
      @media(max-width: 1080px){
        flex-direction: column;
      }
      .applicature__div{
        display: flex;
        width: 15vw;
        @media(max-width: 1080px){
          width: 100%;
        }
        flex-direction: column;

        @media(max-width: 1080px){
          order: 2;
        }
        .applicature__header{
          p{
            color: $fontColor;
          }
        }
        .applicature_images{
          display: flex;
          flex-wrap: wrap;
          img{
            margin-right: 1vw;
            margin-bottom: 1vw;
            height: 6vw;
            width: 6vw;
            @media(max-width: 1080px){
              height: 100px;
              width: 100px;
            }
          }
        }
      }
      .chords{
        display:flex;
        flex-direction: column;
        @include control__btns;
        @media (max-width: 780px) {
          .control_buttons{
            display: none;
          }
        }
        pre{
          font-size: 20px;
          @media (max-width: 1080px) {
            font-size: 10px;
          }
          color: $fontColor;
          span{
            background-color: #3b3b3b;
            padding: 0 2px 0 2px;
            border-radius: 3px;
          }
        }
      }
    }
  }
  @import "footer";
  @import "btnScrollToTop";
}
.control__side__menu__div{
  display: none;
}
@media (max-width: 780px) {
  .control__side__menu__div{
    display:flex;
    position: fixed;
    float: left;
    top:50vh;
    right: 0;
    .slider__button{
      display: flex;
      align-items: center;
      input{
        opacity: 0;
      }
      label{
        display: inline-block;
        position: relative;
        margin-right: calc((2.5vw + 2.5vh));
        span{
          display: block;
          color: rgba(255, 255, 255, 0.5);
          font-family: "Open Sans";
          font-stretch: ultra-condensed;
          font-size: calc( (1vw + 1vh) * 5);
        }
      }
      .div_btns_anim{
        position: relative;
        right: 0;
      }
      input:checked ~ .div_btns_anim, input:checked ~ label{
        right: calc( (2vw + 2vh)* 0.4);
        transition: 0.2s ease-in-out;
        span{
          rotate: 180deg;
          transition: 0.2s ease-in-out;
          text-shadow: 0 -2px 5px black;
          color:palegoldenrod;
        }
      }
      input:not(:checked) ~ .div_btns_anim{
        right: -200px;
        transition: 0.2s ease-in-out;
      }
      input:not(:checked) ~ label{
        right: -75%;
        transition: 0.2s ease-in-out;
        span{
          rotate: 0deg;
          transition: 0.2s ease-in-out;
        }
      }
    }
    @include control__btns;
  }
}