@font-face {
  font-family: "Bitter";
  src: url("../content/fonts/sitkalike/Bitter-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Open Sans";
  src:url("../content/fonts/calibrilike/OpenSans-VariableFont_wdth,wght.ttf");
}

$fontColor: #fdfdfd;
$bgDivColor: #1e1f22;
$borderColor: #3a4f67;
$shadowColor: rgba(0, 0, 0, 0.5);

$fontSizeM: 1.58vh;
$fontSizeL: 2vh;
$fontSizeXL: 3.5vh;
$fontSizeXXL: 6vh;

body{
  position: relative;
  z-index: -2;
}

