@import "constants";
.logo{
  width: 131.97px;
  height: 30.08px;
}
body{
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-family: "Calibri Light";
  background-color: $bgDivColor;

  @import "menu";
  @import "NewChordsDiv";
  
  //  ПОИСКОВАЯ СИСТЕМА
  .to_find_main__div{
    background-color: $bgDivColor;
    padding-bottom: 4px;
    .to_find_main_header{
      text-align: center;
      padding-top: 8px;
      padding-bottom: 8px;
      p{
        font-size: $fontSizeXXL;
        color: $fontColor;
        margin: 0 0 0 0;
        font-family: "Sitka Banner";
      }
    }
    form{
      position: relative;
      display: flex;
      margin-left: 10vw;
      margin-right: 10vw;
      justify-content: space-around;
        input {
          position: relative;
          z-index: 1;
          color: $fontColor;
          padding: 8px 0 8px 4px;
          border: $borderColor 1px solid;
          outline: none;
          background-color: transparent;
          font-family: "Calibri Light";
          font-size: $fontSizeL;
          width: 100%;
          border-radius: 8px 0 0 8px;
        }
        .popular_search_placeholder {
          position: absolute;
          top: 7px;
          left: 10px;
          font-size: calc($fontSizeL + 0.2vh);
          padding-left: 0.5vw;
          font-family: "Calibri Light";
          color: rgba(255, 255, 255, 0.5);
        }
        input:hover, input:focus {
          background-color: rgba(0, 0, 0, 0.08);
          border-color: palegoldenrod ;
          transition: 0.3s;
        }
        .popular_search:focus ~ .popular_search_placeholder, .popular_search:not(:invalid) ~ .popular_search_placeholder{
          color: transparent;
          left: 30vw;
          transition: 0.5s;
        }
        button{
          padding: 9px 18px;
          border-radius: 0 8px 8px 0;
          margin: 0 0 0 0;
          font-size: $fontSizeL;
          outline: none;
          background: url("../content/svg/find.svg") no-repeat center center;
          border: $borderColor 1px solid;
          scale: 1;
        }
        button:hover{
          border: palegoldenrod 1px solid;
          //scale:1.05;
          //transform: translateX(2px) ;
          //border-radius: 8px 8px 8px 8px;
          transition: 0.3s;
        }
    }
    .popular__div{
      margin: 0 10vw 0 10vw;
      @media(max-width: 780px){
        margin: 0 3px 0 3px;
      }
      .popular__title{
        font-family: "Calibri Light";
        color: $fontColor;
        display: inline-block;
        font-size: $fontSizeXL;
      }
      .popular_all_elements{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .popular__base {
          margin-bottom: 32px;
          //width: 20vw;
          flex-basis: calc(20% - 5vw);
          @media(max-width: 1080px ){
            flex-basis:calc(33% - 3vw );
          }
          @media(max-width: 780px){
            flex-basis: calc(50% - 2vw);
          }
          //height: 202vh;
          .popular__element {
            //width: 20vw;
            //height: 100%;
            //height: 40vw;
            display: flex;
            border-radius: 16px 16px 16px 16px;
            flex-direction: column;
            //flex-basis: 100%;
            margin-bottom: 0;
            //background: url("../content/images/plugBlue.png") no-repeat center center;
            background-size: cover;
            position: relative;
            .bg{
              border-radius: 16px 16px 0 0;
              padding: 6vw 7vw 6vw 7vw;
              @media (max-width: 1080px){
                padding: 9vw 7vw 9vw 7vw;
              }
              @media (max-width: 780px){
                padding: 18vw 7vw 18vw 7vw;
              }
              background-size: cover;
              position: relative;
              //background: url("../content/images/egor.png") no-repeat center center;
              //background-size: cover ;
            }
            .info__block{
              background-color: #363636;
              width: 100%;
              flex-grow: 0;
              //height: 100%;
              border-radius: 0 0 16px 16px;
              a{
                width: 24vh;
                @media (max-width: 780px){
                  width: 40vw;
                }
                font-size: $fontSizeL;
                padding: 4px 0 4px 0;
                margin-left: 0.5vw;
                display: block;
                color: $fontColor;
                font-family: "Calibri Light";
                text-decoration: none;
                position: relative;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              a:hover{
                color: palegoldenrod;
              }
              a:nth-child(2){
                font-style: italic;
              }
            }
            #el1{
              /*background: url("../content/images/egor.png") no-repeat center center;
              background-size: cover ;*/
            }
          }
          .popular__element:hover {
            transform: translateY(-16px);
            box-shadow: $shadowColor 0 8px 8px -1px ;
            transition: 0.3s ease-in-out 0s;
          }
          .popular__element:not(:hover) {
            transform: translateY(0);
            box-shadow: none;
            transition: 0.3s ease-in-out 0s;
          }
        }
      }
      .next_page{
        text-align: center;
        font-size: $fontSizeL;
        a{
          padding: 4px 8px 4px 8px;
          background-color: transparent;
          color: $fontColor;
          display: inline-block;
          text-decoration: none;
          border: 1px solid transparent;
          border-radius: 4px 4px 4px 4px;
        }
        a:hover{
          color: palegoldenrod;
          background-color: #313238;
          border: 1px solid palegoldenrod;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
  @import "footer";
  @import "btnScrollToTop";
}