@import "constants";
header{
  nav{
    background-color: #0d243f;
    padding-top: 8px;
    padding-bottom: 4px;
    color: white;
    display: flex;
    position: relative;
    box-shadow: $shadowColor 0 4px 8px 0;
    .nav_main__div {
      margin: 0 10vw 0 10vw;
      @media (max-width: 840px){
        margin: 0 0 0 0;
      }
      width: 100%;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: space-between;
      @media(max-width: 840px){
        justify-content: space-around;
      }
      flex-flow: wrap;
      .logo_div {
        @media(max-width: 840px){
          order: 1;
          position: relative;
          padding: 0 0 8px 0;
        }
      }
      .menu__block {
        display: inline-block;
        user-select: none;
        flex-wrap: nowrap;
        width: fit-content;
        @media(max-width: 840px){
          order: 0;
        }
        ul {
          @media(max-width: 840px){
            display: none;
          }
          display: flex;
          padding-left: 0;
          li {
            display: inline-block;
            font-size: $fontSizeM;
            a {
              text-transform: uppercase;
              color: white;
              top:0;
              border-bottom: 1px solid transparent;
              text-decoration: none;
              padding: 24px 16px 20px 16px;
              font-family: "Open Sans";
              @media(max-width: 840px){
                background-color: transparent;
              }
            }
          }
          li:hover {
            a {
              @media (min-width: 841px){
                text-decoration: none;
                background-color: #00344f;
                position: relative;
                top:10px;
                padding-top: 34px;
                color: #00ecff;
                border-bottom: solid 1px #00ecff;
                transition: 0.3s ease-in-out;
              }
            }
          }
          li:not(:hover){
            a{
            @media (min-width: 841px){
              position: relative;
              top: 0;
              padding-top: 24px;
              transition: 0.3s ease-in-out;
            }
            }
          }
          .here{
            border-bottom: 1px solid palegoldenrod;
          }
        }
        @media(min-width: 841px){
          .hamburger-menu{
            display: none;
          }
        }

        @media(max-width: 840px){
          .hamburger-menu{
            display: flex;
            flex-direction: row;
          }
          #menu__toggle {
            opacity: 0;
            width: 0;
            height: 0;
          }
          .menu__btn {
            display: flex;
            align-items: center;
            position: relative;
            width: 26px;
            height: 26px;
            cursor: pointer;
            z-index: 3;
          }
          .menu__btn > span,
          .menu__btn > span::before,
          .menu__btn > span::after {
            display: block;
            position: absolute;
            width: 20px;
            height: 2px;
            background-color: white;
          }
          .menu__btn > span::before {
            content: '';
            top: -8px;
          }
          .menu__btn > span::after {
            content: '';
            top: 8px;
          }
          .menu__box {
            display: flex;
            flex-direction: column;
            position: absolute;
            visibility: hidden;
            top: -300px;
            left: 0;
            width: 100%;
            text-align: center;
            margin: 0;
            list-style: none;
            background-color: #0b1f36;
            box-shadow: 0 8px 6px -6px $shadowColor;
            z-index: -1;
          }
          .menu__item {
            display: block;
            padding: 12px 24px;
            color: white;
            font-size: 20px;
            text-decoration: none;
          }
          #menu__toggle:checked ~ .menu__btn > span {
            transform: rotate(45deg);
            transition: 0.5s ease-in-out;
          }
          #menu__toggle:not(:checked) ~ .menu__btn > span {
            transform: rotate(0deg);
            transition: 0.5s ease-in-out;
          }
          #menu__toggle:checked ~ .menu__btn > span::before {
            top: 0;
            transform: rotate(0);
            transition: 0.5s ease-in-out;
          }
          #menu__toggle:not(:checked) ~ .menu__btn > span::before {
            transform: rotate(0);
            transition: 0.5s ease-in-out;
          }
          #menu__toggle:checked ~ .menu__btn > span::after {
            top: 0;
            transform: rotate(90deg);
            transition: 0.5s ease-in-out;
          }
          #menu__toggle:not(:checked) ~ .menu__btn > span::after {
            transform: rotate(0deg);
            transition: 0.5s ease-in-out;
          }
          #menu__toggle:checked ~ .menu__box {
            visibility: visible;
            left: 0;
            top: 46px;
            transition: 0.3s ease-in-out;
          }
          #menu__toggle:not(:checked) ~ .menu__box {
            visibility: hidden;
            top: -300px;
            transition: 0.3s ease-in-out;
          }
        }
      }
      .input__div{
        @media(max-width: 840px){
          order:3;
        }
        form {
          display: flex;
          font-size: $fontSizeM;
          position: relative;
          width: 15vw;
          @media(max-width: 840px){
            order: 3;
          }
          #searchResults {
              display: none;
              font-family: "Open Sans";
              position: absolute;
              top: 110%;
              left: -50px;
              z-index: 2;
              background-color: #2a2a2a;
              max-height: 50vh;
              width: 20vw;
              @media (max-width: 840px) {
                top: 120%;
                font-size: calc($fontSizeM + 1vh);
                width: 70vw;
                left: -50vw;
              }
              overflow: hidden;
            }

            #searchResults a {
              display: block;
              padding: 5px;
              color: $fontColor;
              text-decoration: none;
            }

            #searchResults a:hover {
              background-color: #383838;
            }
          .label__search {
            position: relative;

            input {
              position: relative;
              padding-top: 4px;
              padding-bottom: 4px;
              width: 100%;
              @media (max-width: 840px){
              }
              background-color: transparent;
              outline: none;
              border: none;
              border-bottom: solid 1px white;
              color: white;
              z-index: 1;
            }

            .popular_search_placeholder {
              position: absolute;
              top: 0;
              font-size: calc(($fontSizeM + 1vw) * 0.5 );
              @media(max-width: 1080px){
                font-size: calc(($fontSizeM + 1vw) * 0.5 );
                top:5px;
              }
              white-space: nowrap;
              text-overflow: ellipsis;
              font-family: "Open Sans";
              color: rgba(255, 255, 255, 0.5);
            }
            input:hover, input:focus {
              background-color: rgba(11, 25, 54, 0.5);
              transition: 0.3s;
            }
            input:focus ~ .popular_search_placeholder, input:not(:invalid) ~ .popular_search_placeholder{
              top: -8px;
              color: transparent;
              transition: 0.5s;
            }
          }
        }
      }
    }
  }
}