@import "constants";

.logo{
  width: 131.97px;
  height: 30.08px;
}
body{
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-family: "Calibri Light";
  background-color: $bgDivColor;

  @import "menu";
  @import "NewChordsDiv";

  //  ПОИСКОВАЯ СИСТЕМА
  .to_find_main__div{
    background-color: $bgDivColor;
    padding-bottom: 4px;
    .to_find_main_header{
      text-align: center;
      padding-top: 8px;
      padding-bottom: 8px;
      p{
        font-size: $fontSizeXXL;
        color: $fontColor;
        margin: 0 0 0 0;
        font-family: "Sitka Banner";
      }
    }
    form{
      position: relative;
      display: flex;
      margin-left: 10vw;
      margin-right: 10vw;
      @media (max-width: 780px){
        margin: 0 3px 0 3px;
      }
      justify-content: space-around;
      input {
        position: relative;
        z-index: 1;
        color: $fontColor;
        padding: 8px 0 8px 4px;
        border: $borderColor 1px solid;
        outline: none;
        background-color: transparent;
        font-family: "Calibri Light";
        font-size: $fontSizeL;
        width: 100%;
        border-radius: 8px 0 0 10px;
      }
      .popular_search_placeholder {
        position: absolute;
        top: 8px;
        left: 10px;
        font-size: calc($fontSizeL + 0.2vh);
        //font-size: $fontSizeL;
        padding-left: 0.5vw;
        font-family: "Calibri Light";
        color: rgba(255, 255, 255, 0.5);
      }
      input:hover, input:focus {
        background-color: rgba(0, 0, 0, 0.08);
        transition: 0.3s;
      }
      .popular_search:focus ~ .popular_search_placeholder, .popular_search:not(:invalid) ~ .popular_search_placeholder{
        color: transparent;
        left: 30vw;
        transition: 0.5s;
      }
      button{
        padding: 9px 18px;
        border-radius: 0 8px 8px 0;
        margin: 0 0 0 0;
        font-size: $fontSizeL;
        outline: none;
        background: url("../content/svg/find.svg") no-repeat center center;
        border: $borderColor 1px solid;
        scale: 1;
      }
      button:hover{
        border: palegoldenrod 1px solid;
        transition: 0.3s;
      }
    }
    .popular__div{
      margin: 0 10vw 0 10vw;
      @media (max-width: 780px){
        margin: 0 3px 0 3px;
      }
      font-size: $fontSizeL;
      .popular__title{
        p{
          font-family: "Calibri Light";
          color: $fontColor;
          display: inline-block;
          font-size: $fontSizeXL;
        }
      }
      .table__title{
        display: flex;
        justify-content: space-between;
        color: $fontColor;
        p{
          display: inline-block;
          margin: 0 1vw 0 1vw;
        }
      }
      .table_element{
        display: flex;
        justify-content: space-between;
        color: $fontColor;
        margin-bottom: 1vh;
        padding-top:0.5vh;
        padding-bottom: 0.5vh;
        background-color: #313131;
        p{
          display: inline-block;
          margin: 0 1vw 0 0;
        }
        a{
          display: inline-block;
          text-decoration: none;
          color: $fontColor;
          margin: 0 0 0 1vw;
        }
        a:hover{
          color: palegoldenrod;
          transition: 0.2s ease-in-out;
        }
      }
      .next_page{
        text-align: center;
        font-size: $fontSizeL;
        margin-top: 2vh;
        a{
          padding: 4px 8px 4px 8px;
          background-color: transparent;
          color: $fontColor;
          display: inline-block;
          text-decoration: none;
          border: 1px solid transparent;
          border-radius: 4px 4px 4px 4px;
        }
        a:hover{
          color: palegoldenrod;
          background-color: #313238;
          border: 1px solid palegoldenrod;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
  @import "footer";
  @import "btnScrollToTop";
}