@import "constants";

.logo{
  width: 131.97px;
  height: 30.08px;
}
body{
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-family: "Calibri Light";
  background-color: $bgDivColor;

  @import "menu";
  @import "NewChordsDiv";

  //СТРАНИЦА ИСПОЛНИТЕЛЯ
  .perfomer__main__div{
    .header{
      //width:100%;
      display: flex;
      margin: 0 10vw 0 10vw;
      @media (max-width: 780px){
        margin: 0 3px 0 3px;
        //flex-direction: column;
        //justify-content: center;
        //margin: auto;
        //text-align: center;
      }
      .perfomer__img__div{
        display: flex;
        @media (max-width: 1080px) {
          justify-content: center;
        }
        //margin-left: 10vw;
        img{
          box-shadow: $shadowColor 0 4px 8px -1px;
          width: 200px;
          height: 200px;
          @media(max-width: 780px){
            width: 130px;
            height: 130px;
            //margin: auto;
          }
        }
      }
      .perfomer_info {
        margin-left: 2.5vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .perfomer__name__div {
          p {
            color: $fontColor;
            font-family: "Sitka Banner";
            font-size: $fontSizeXXL;
            margin: 0 0 0 0;
            @media (max-width: 780px) {
              font-size:$fontSizeXL ;
            }
          }
        }
        .stats {
          display: flex;
          flex-direction: column;
          justify-content: center;
          color: $fontColor;
          p {
            margin: 0 0 0 0;
          }
        }
      }
    }
    .popular__div{
      margin: 0 10vw 0 10vw;
      @media (max-width: 780px){
        margin: 0 3px 0 3px;
      }
      font-size: $fontSizeL;
      .popular__title{
        p{
          font-family: "Calibri Light";
          color: $fontColor;
          display: inline-block;
          font-size: $fontSizeXL;
        }
      }
      .table__title{
        display: flex;
        justify-content: space-between;
        color: $fontColor;
        p{
          display: inline-block;
          margin: 0 1vw 0 1vw;
        }
      }
      .table_element{
        display: flex;
        justify-content: space-between;
        color: $fontColor;
        margin-bottom: 1vh;
        padding-top:0.5vh;
        padding-bottom: 0.5vh;
        background-color: #313131;
        p{
          display: inline-block;
          margin: 0 1vw 0 0;
        }
        a{
          display: inline-block;
          text-decoration: none;
          color: $fontColor;
          margin: 0 0 0 1vw;
        }
        a:hover{
          color: palegoldenrod;
          transition: 0.2s ease-in-out;
        }
      }
      .next_page{
        text-align: center;
        font-size: $fontSizeL;
        margin-top: 2vh;
        a{
          padding: 4px 8px 4px 8px;
          background-color: transparent;
          color: $fontColor;
          display: inline-block;
          text-decoration: none;
          border: 1px solid transparent;
          border-radius: 4px 4px 4px 4px;
        }
        a:hover{
          color: palegoldenrod;
          background-color: #313238;
          border: 1px solid palegoldenrod;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
  @import "footer";
  @import "btnScrollToTop";
}